venv/*
matrix.csv
RaceID3_StemID2_package-master/*
.vscode/*
*.pyc
.ipynb_checkpoints/*
compressed/kmeans/sample*/k*/*
!compressed/kmeans/sample*/k*/*.png
compressed/neural/sample*/k*/*
!compressed/neural/sample*/k*/*.png
fpgrowth.ipynb
data/
